pandas
numpy

scikit-learn
imbalanced-learn
lightgbm

jupyter
notebook
jupyterlab
IPython
jupytext 
ipykernel
jupyter-contrib-nbextensions

pytest
black 
black[jupyter]

# pandarallel 
# pyspark

seaborn 
matplotlib
plotly
shap