pandas
numpy

scikit-learn
imbalanced-learn
lightgbm

jupyter
notebook
jupyterlab
IPython
jupytext 
ipykernel


pytest
black 

# black = {extras = ["jupyter"], version = "^23.11.0"}
black[jupyter]

shap
# pandarallel 

jupyter-contrib-nbextensions

seaborn 
matplotlib
plotly